* {
    margin: 0 auto;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    margin: 0px;
    /* width: -webkit-fill-available; */
}
header {
    background-color:rgb(30, 144, 255);
    /* width: -webkit-fill-available; */
    overflow: auto;
    width: 100%;
    
}
header nav {
    background-color: rgb(255, 215, 0);
    /* z-index: 100; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    /* width: -webkit-fill-available; */
}

.container {
    margin-bottom: 1.5rem;
}

main {
    background-color: rgb(218, 165, 32);
    font-size: 1.4rem;
    overflow: auto;
    margin-bottom: 2rem;
}

footer {
    background-color: rgb(245, 245, 220);
    color: #333;
    text-align: center;
    padding: 20px;
    
    bottom: 0;
    /* width: 100%; */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul li {
    
    display:inline;
    margin: 0 0.5rem ;


}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(34, 41, 2);
    margin: 2rem 0 3rem;

}
h3 {
    text-align: center;
}
p {
    text-align: center
}
p span {
    font-weight: bold;
}
 main p a {
    color: rgb(0, 23, 53);
    text-decoration: none;
 }


 .cars {
    margin: 10px;
    padding: 5px;
    box-shadow: -4px 5px 13px 3px rgba(0, 0, 0, 0.4); }
.cars img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cars p {
    text-align: justify;
}



 /* CSS for Header */
/* header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 5px;
    width: -webkit-fill-available;
    
} */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

/* CSS for Footer */
/* footer {
  background-color: #f5f5dc;
  color: #333;
  text-align: center;
  padding: 20px;
  
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
} */